 TBD: Detail view for element<span>{{itemDetail.itemId}}</span>


<div class="container">
  <br /> ID: {{itemDetail.itemId}}<br />

  <br /> Label: <br />
  <input type="text" ng-model="itemDetail.label" />
  <br /> Total: <br />
  <input type="text" ng-model="itemDetail.total" />
  <br /> Current: <br />
  <input type="text" ng-model="itemDetail.current" />
  <br />






  <div class="col-sm-4" style="padding-right: 0;">
    <select style="padding: 3px 3px" class="form-control" ng-model="State" ng-options="State.Label for State  in itemDetail.StateList">
      <option value="">Select State</option>
    </select>
  </div>


  <button ng-click="itemDetail.btnPostCall()">btnPostCall</button>
  <button ng-click="itemDetail.btnPostCall()">Home</button>


  <!--<button ng-click="itemDetail.getSomeItem(itemDetail.itemId)">getSomeItem</button>
  <button ng-click="itemDetail.getItem(itemDetail.itemId)">getItem</button>-->
  
  </br>
  <span>JSON content:</span>
  <span>{{itemDetail.message}}</span>


</div>
