<div ng-repeat="bar in $ctrl.data" ui-sref="itemDetail({itemId: bar.ItemId})" class="bar bar-list-item " style="width:{{($ctrl.width*bar.Current) /bar.Total}}px; top:{{(($index / $ctrl.data.length) * $ctrl.width)+45}}px;">
  <!-- TaskItem Label over bar-->
  <!--<a class="bar bar-list-item " align="left " ui-sref="itemDetail({itemId: $index+1}) ">{{bar.Label}}-{{bar.Current}} of {{bar.Total}}</a>-->
  <a class="bar bar-list-item " align="left " ui-sref="itemDetail({itemId: bar.ItemId}) ">{{bar.Label}}-{{bar.Current}} of {{bar.Total}}</a>

  <div class="bar bar-list-item camel ">
    <img ng-src="{{$ctrl.image}} " />
    <h6>{{((100*bar.Current)/bar.Total)| number:2}}%</h6>
  </div>

  <!--Milestones-->
  <!--<div class="dot" ng-repeat="mls in bar.Timeline" style="margin-left: {{mls.complete / $ctrl.max * $ctrl.height}}px;" data-title="Completed on: {{mls.date}}">
  </div>-->
</div>

