<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">      

      <div class="col-sm-3 col-md-2 sidebar">
        <!--SideBar-->
        <div class="text-center">
          <h2 class="brand">Camel Race <small>GO!</small></h2>                   
          <img src="images/flat-avatar.png" class="user-avatar" /><br />          
        </div>
        <!--Menu-->
        <ul class="nav nav-sidebar">
          <li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard">Tasks List<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>                                       
      <!--Chart-->
      <graph width="1550" height="800" x-Axis-Label="Race" y-Axis-Label="Ongoing Tasks"></graph> 
    </div>    
    
  </div>
</div>