<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 col-md-2 sidebar">
        <!--SideBar-->
        <div class="text-center">
          <h2 class="brand">Camel Race <small>GO!</small></h2>
          <img src="images/flat-avatar.gif" class="user-avatar" /><br />
        </div>


        <!--Menu-->
        <ul class="nav nav-sidebar">
          <li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard">Tasks List<span class="sr-only">(current)</span></a></li>
          <!--<li ng-class="{active: $state.includes('createTask')}"><a ui-sref="createTask">Create Task</a></li>-->
        </ul>
        
        <!--<a ui-sref="createTask">
          <button class="btn btn-white btn-outline btn-rounded btn-sm" style="background: #8FBC8F;vertical-align: bottom;  height:50px; width:250px;">Create New Task</button>
        </a>-->
        
        
        <!--Create New Task-->
        <br />        
        <a ui-sref="createTask">
          <button class="btn btn-white btn-outline btn-rounded btn-sm" style="background: #8FBC8F;vertical-align: bottom;  height:50px; width: 100%;">Create New Task</button>
        </a>
      </div>

    

      <!--Chart-->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">        
        <graph width="1550" height="800" x-Axis-Label="Race" y-Axis-Label="Ongoing Tasks"></graph>        
      </div>
    </div>

  </div>
</div>