<div class="dashboard-page">
  <div class="container-fluid">
    <form name="taskDetailForm">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <div class="text-center">
            <h2 class="brand">
              Camel Race<small>GO!</small>
            </h2>
            <img src="images/flat-avatar.png" class="user-avatar" /><br />
            <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
          </div>

          <ul class="nav nav-sidebar">
            <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Overview <span class="sr-only">(current)</span></a></li>
            <!--<li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>-->
          </ul>

          <!--Show Dropdown with tasks-->
          <div style="padding-right: 0;">
            <span>Selected Task: {{itemDetail.itemSelected.Label}}</span>
            <select class="form-control" ng-model="itemDetail.itemSelected" ng-change="itemDetail.onTaskChange()" ng-init="itemDetail.itemSelected" ng-options="task.Label for task in itemDetail.TasksList"></select>
          </div>
        </div>



        <div class="container">
          <div class="detail ">
            <h2>
              Detail view for element:
              <span>{{itemDetail.itemId}}</span>
            </h2>

            <div class="col-sm-4">
              <br /> ID: {{itemDetail.itemId}}<br />
              <br /> Label: <br />
              <input type="text" name="inputLabel" ng-model="itemDetail.label" required />
              <div role="alert">
                <span class="error" ng-show="taskDetailForm.inputLabel.$error.required">
                  Required value!
                </span>
              </div>


              <br /> Total: <br />
              <input type="number" name="inputTotal" ng-model="itemDetail.total" required />
              <div role="alert">
                <span class="error" ng-show="taskDetailForm.inputTotal.$error.required">
                  Required value!
                </span>
                <span class="error" ng-show="taskDetailForm.inputTotal.$error.number">
                  Not valid number!
                </span>
              </div>


              <br /> Current: <br />              
              <input type="number" name="inputCurrent" ng-model="itemDetail.current" min="0" max="{{itemDetail.total}}" required />
              <br />
              <div role="alert">
                <span class="error" ng-show="taskDetailForm.inputCurrent.$error.required">
                  Required value!
                </span>
                <span class="error" ng-show="taskDetailForm.inputCurrent.$error.number">
                  Not valid number!
                </span>
                <span class="error" ng-show="taskDetailForm.inputCurrent.$error.max">
                  Current value cannot be greater than Total!
                </span>
              </div>
              <br />

              <!--Milestones-->
              <h2>Milestones:</h2>
              <div ng-repeat="mls in itemDetail.timeline">
                <div>
                  Date: <input ng-model="mls.date">
                  <br />
                  Complete: <input ng-model="mls.complete">
                  <br />
                  <br />
                </div>
              </div>
            </div>

            <button type="submit" ng-click="itemDetail.btnPostCall()">Save</button>            
            <button ng-click="itemDetail.goBack()">Back</button>

          </div>        
        </div>        
      </div>      
    </form>
  </div>
</div>






