/*Chart*/
.chart {
  border-left: 1px solid black;
  /*x axis*/
  border-bottom: 1px solid black;
  /*y axis*/
  border-right: 1px solid black;
  /*margin: 60px auto;*/
  margin: 100px 0px 100px 330px;
  position: relative;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
  text-align: center;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
  text-align: center;
}
/*Tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/*.label {
  position: absolute;
  margin-top: -30px;
  font-weight: bold;
  white-space: nowrap;
}*/
/*Bars (Graph lines)*/
.bar {
  position: absolute;
}

.bar-list-item {
  background: blue;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  height: 20px;
}

.bar:nth-of-type(even) {
  background: #3ca2e0;
}

.bar.bar-list-item.camel img {
  height: 50px;
  width: 50px;
}
.bar.bar-list-item.camel h6 {
  margin-top: 20px;
  font-weight: bold;
}

.bar.bar-list-item a {
  position: absolute;
  margin-top: -30px;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  background: none;

  
}
/*.label {
  position: absolute;
  margin-top: -30px;
  font-weight: bold;
  white-space: nowrap;
}*/
.bar.camel {
  background: none;
  margin-top: -50px;
  position: relative;
  float: right;
}

/* Inpot Error or required notification */
.dot {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  background: #777777;
  cursor: pointer;
  animation: dots 100ms linear forwards;
}

  .dot:after {
    content: attr(data-title);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background: #777777;
    color: white;
    position: absolute;
    padding: 10px;
    left: 150%;
    top: -15px;
    width: 0;
    opacity: 0;
    border-radius: 3px;
    font-weight: 700;
  }

  .dot:hover {
    background: #777777;
  }

    .dot:hover:after {
      width: auto;
      opacity: 1;
      z-index: 9999;
    }
/* Inpot Error or required notification */
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.jsonlabel, jsonlabel.inline {
  display: inline-block;
  width: 100px;
}
