body {
  /*text-align: center;*/
}

.chart {
  border-left: 1px solid black;
  /*y axis*/
  border-bottom: 1px solid black;
  /*x axis*/
  border-right: 1px solid black;
  /*x axis*/
  margin: 60px auto;
  position: relative;
  list-style: none;
  padding: 0;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
  text-align: center;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.label {
  position: absolute;
  margin-top: -20px;
}

.bar {
  /*background: blue;*/
  position: absolute;
  /*bottom: 0;*/
}

.bar-list-item {
  background: blue;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

/*.bar-list-item[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}*/

.bar:nth-of-type(even) {
  background: CornflowerBlue;
}

.bar.camel {
  background: none;
  margin-top: -40px;
  position: relative;
  float: right;
}

/*.dot {
  background: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  
  float: right;
  margin-top: -2px;
  position:absolute;
  animation-delay: 1150ms;


}

.dot .right {
  float: right;
}*/
.dot {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  background: #777777;
  cursor: pointer;
  animation: dots 100ms linear forwards;
}
.dot:after {
  content: attr(data-title);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  background: #777777;
  color: white;
  position: absolute;
  padding: 10px;
  left: 150%;
  top: -15px;
  width: 0;
  opacity: 0;
  border-radius: 3px;
  font-weight: 700;
}
.dot:hover {
  background: #777777;
}
.dot:hover:after {
  width: auto;
  opacity: 1;
  z-index: 9999;
}

.milestone {
  background: black;
  width: 0px;
  height: 10px;
  border-radius: 50%;
  margin-top: -2px;
  position:absolute;
  animation-duration: 10s;
  animation-name: slidein;
}

.detail {
  
  position: relative;
  margin-left: 100px;
  margin-top: 100px;
}
/* Put your css in here */
.error {
  color: #D8000C;
  background-color: #FFBABA;
}
.jsonlabel, jsonlabel.inline {
    display: inline-block;
    width: 100px;
}