<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="D:\Logs\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/nlog-camels.log" />
  </targets>

  <rules>
    <!-- Writing everything to the cololred console -->
    <logger name="*" minlevel="Trace" writeTo="logfile"/>
  </rules>
</nlog>